apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-container
        image: europe-central2-docker.pkg.dev/flask-kube-joc/flask-kube-gcp/flask-kube:latest
        ports:
        - containerPort: 8080
